.card{
    width: 200px;
    border: 2px;
    border-color: black;
    background-color: rgb(255, 187, 0);
    padding: 50px;
    margin-bottom: 10px;
}

.item-img{
    width: 50%;
    height: 50%;    
}

.price-card{
    text-align: center;
    font-size: 150%;
}

.button-item{
    background-color: white;
    border: solid black 0.5px;
    padding: 5%;
    margin-left: 25%;
    text-decoration: none;
    color: black;
    border-radius: 6%;
}